.download {
  padding-top: 0px !important;
  &__container {
    display: flex;
    gap: 80px;
    @include media-mx(1169) {
      align-items: center;
      justify-content: center;
      gap: 24px;
    }
    @include media-mx(767) {
      flex-direction: column;
      gap: 60px;
    }
  }
  &__title {
    @extend %title;
    @include media-mx(1169) {
      width: 288px;
    }
    @include media-mx(767) {
      font-size: 25px;
      font-weight: 600;
      line-height: 1.5;
    }
  }
  &__text {
    @include media-mx(1169) {
      width: 329px;
      height: 73px;
      overflow: hidden;
    }
    margin-top: 1px;
    color: var(--gray-color);
  }
  &__links-list {
    margin-top: 41px;
    display: flex;
    gap: 25px;
  }
  .statistics {
    display: flex;
    margin-top: 60px;
    gap: 30px;
    @include media-mx(767) {
      gap: 25px;
    }
    &__item {
      width: 170px;
      padding-top: 30px;
      padding-bottom: 20px;
      border-radius: 10px;
      @include media-mx(1169) {
        width: 96px;
        height: 100px;
        padding-top: 11px;
        padding-bottom: 11px;
      }
      background-color: var(--primary-color);
    }
    &__number {
      color: var(--secondary-color);
      font-size: 25px;
      margin-top: 18px;
      font-weight: 600;
      text-align: center;
      line-height: normal;
      text-transform: uppercase;
      @include media-mx(1169) {
        font-size: 16px;
        margin-top: 0;
      }
    }
    &__text {
      margin-top: 18px;
      color: var(--secondary-color);
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      @include media-mx(1169) {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        text-transform: none;
      }
    }
    &__icon {
      fill: var(--secondary-color);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__picture {
    @include media-mx(1169) {
      width: 334.482px;
      height: 311.146px;
    }
  }
}
