.features {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  background-image: url('@img/Background.jpg');
  background-size: cover;
  &__title {
    @extend %title;
    color: var(--secondary-color);
  }
  &__text {
    @extend %text;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 18px;
  }
  &__picture {
    width: 375px;
    height: 812px;
    @include media-mx(1200) {
      width: 214px;
      height: 468px;
      box-shadow: 10px 10px 100px 0px rgba(24, 48, 63, 0.3);
      top: 38%;
    }
    top: 29%;
    position: absolute;
    border-radius: 40px;
    box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.5);
  }
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    :nth-child(2n):not(:last-child) {
      align-self: flex-start;
    }
    &--horizontal-top {
      flex-direction: row;
      gap: 243px;
      justify-content: space-between;
    }
    &--horizontal-bottom {
      gap: 250px;
      margin-top: 347px;
      flex-direction: row;
      justify-content: space-between;
      @include media-mx(1200) {
        margin-top: 86px;
      }
    }
  }
  &__item {
    max-width: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    @include media-mx(1200) {
      margin-bottom: 0;
    }
    &--right {
      align-items: flex-start;
    }
    &--left {
      align-items: flex-end;
    }
    &--bottom {
      margin-bottom: 0;
    }
  }
  &__item-title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-top: 22px;
    @include media-mx(1200) {
      font-size: 20px;
    }
    &--bottom {
      font-size: 20px;
    }
    &--right {
      text-align: left;
    }
    &--left {
      text-align: right;
    }
  }
  &__item-text {
    text-align: center;
    color: var(--secondary-color);
    margin-top: 18px;
    &--right {
      text-align: left;
    }
    &--left {
      text-align: right;
    }
  }
  &__icon {
    fill: var(--secondary-color);
  }
}
