.use-app {
  background-image: url('@img/Background.jpg');
  margin-bottom: 210px;
  @include media-mx(1200) {
    padding-top: 49px;
    margin-bottom: 121px;
  }
  @include media-mx(767) {
    padding-top: 60px;
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    color: var(--secondary-color);
    @extend %title;
    text-align: center;
    @include media-mx(1200) {
      width: 357px;
    }
    @include media-mx(767) {
      width: 281px;
      font-size: 25px;
      font-weight: 600;
    }
  }
  &__text {
    color: var(--secondary-color);
    @extend %text;
    text-align: center;
    padding-top: 33px;
    padding-bottom: 81px;
    @include media-mx(1200) {
      padding-top: 18px;
      padding-bottom: 91px;
      width: 450px;
    }
    @include media-mx(767) {
      width: 300px;
      height: 70px;
      overflow: hidden;
    }
  }
  &__video {
    position: absolute;
    top: 227px;
    border-radius: 10px;
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
    @include media-mx(1200) {
      width: 570px;
      height: 231px;
      top: 285px;
    }
    @include media-mx(767) {
      width: 343px;
      height: 150px;
      top: 223px;
    }
  }
  &__image {
    background-image: linear-gradient(
      rgba(88, 81, 234, 0.4),
      rgba(88, 81, 234, 0.4)
    );
    width: 770px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__video-icon {
    z-index: 2;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}
