@charset "UTF-8";
/**
* Підключення шрифтів із папки "./src/fonts"
*/
@font-face {
  font-family: JosefinSans;
  font-display: swap;
  src: url("../fonts/JosefinSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: JosefinSans;
  font-display: swap;
  src: url("../fonts/JosefinSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: JosefinSans;
  font-display: swap;
  src: url("../fonts/JosefinSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
/** Підключення змінних */
:root {
  --bs-font-family: "Josefin Sans";
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1.5;
  --bs-font-color: #6C6C72;
  --bs-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --bs-radius: 10px;
  --primary-color: #5956E9;
  --secondary-color: #FFF;
  --black-color: #232233;
  --gray-color: #6C6C72;
  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
    0 0 15px 0 rgba(#000, 10%);
}

/**
* Підключення Sass функцій mixins та шаблонів
*/
/* Шаблони (заготовки)
* @extend %ім'я-шаблону;
*/
/** Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
  box-sizing: border-box;
}
*:focus, *:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  opacity: 0;
  scroll-behavior: smooth;
  transition: opacity 0.8s ease-in-out;
}
html.loaded {
  opacity: 1;
}
html.lock {
  overflow: hidden;
  touch-action: none;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
}

body {
  overscroll-behavior: none;
  font-size: var(--bs-font-size);
  font-family: var(--bs-font-family);
  font-weight: var(--bs-font-weight);
  line-height: var(--bs-line-height);
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
a:focus, a:active {
  outline: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

sup {
  color: inherit;
}

/**
* Бібліотеки
* розкоментуйте тільки ті, які використовуєте
*/
/**
* підключення стилів для кастомного скролу
*/
* {
  scrollbar-width: 0.5rem;
  scrollbar-color: var(--primary-color) #d6d6d6;
}
*::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--white-color);
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background: #eee;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  border: 0 none #fff;
  background-color: var(--primary-color);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover-color);
}

/**
* Спільні стилі для всіх сторінок
*/
/** Базові анімації: */
@keyframes show-header {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes fade-up-big {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes show-card {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
/** Стилі для повноекраного блоку: */
/*
* (i) Стилі будуть застосовуватися до
* всіх класів включаючи *__container
* наприклад header__container, main__container и т.д.
*/
[class*=__container] {
  max-width: 74.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /** Змінити на clip - якщо використовується в проекті position: sticky */
  overflow: hidden;
}

.page {
  position: relative;
  flex: 1 1 auto;
}
.page [data-observ] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: transparent;
  pointer-events: none;
}
.page_start {
  padding-top: 6.25rem;
}

/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/**
* БЕМ блоки для стилів
*/
/**
* Стилі для компонентів
*/
.header__container {
  height: 6.25rem;
  display: flex;
  align-items: center;
}
.header-is-sticky .header__container {
  height: 3.125rem;
}

.popup {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  /** Установить свои значения */
  padding: 1.875rem 0.625rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  transition: opacity 0.4s ease-in-out;
}
.popup.is-open {
  opacity: 1;
  pointer-events: auto;
}
.popup.is-open .popup__content {
  transform: translateY(0);
  opacity: 1;
}
.popup__wrapper {
  display: flex;
  align-items: center;
  min-height: 100%;
}
.popup__content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  /** Установить свои значения */
  padding: 1.875rem 3.125rem;
  max-width: 43.125rem;
  background-color: #fff;
  transform: translateY(-12.5rem);
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.popup__close {
  position: absolute;
  /** Установить свои значения */
  top: 1.25rem;
  right: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #000;
  border-radius: 0.5rem;
}

.checkboxes {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
  text-wrap: nowrap;
}
.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  /* Checked */
  /* Focused */
  /* Disabled */
}
.checkbox__input:checked + .checkbox__box {
  background-color: #ff4040;
  border-color: #fff;
}
.checkbox__input:focus + .checkbox__box {
  box-shadow: 0 0 0 2px blue;
}
.checkbox__box {
  height: 20px;
  flex: 0 0 20px;
  border-radius: 3px;
  border: 2px solid #1a8c80;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.tabs__nav {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.tabs__trigger {
  border-radius: 0 8px 4px;
  padding: 0.625rem;
  transition: 0.2s ease-in-out;
}
.tabs__trigger:hover {
  animation: rotation 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.tabs__trigger.active {
  background: linear-gradient(90deg, rgb(34, 0, 36) 6%, rgb(121, 9, 113) 46%, rgb(106, 0, 255) 100%);
  color: #fff;
}
.tabs__content__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}
.tabs__panel {
  animation: fade-up-big 0.4s forwards;
  display: none;
}
.tabs__panel.active {
  display: block;
}

.accordion {
  /** Установить свои значения */
  margin-bottom: 23px;
}
.accordion__item {
  /** Установить свои значения */
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
}
.accordion__item:not(:first-of-type) {
  border-top: 0;
}
.accordion__item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.accordion__item:last-of-type {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.accordion__item.open .accordion__header {
  /** Установить свои значения */
  background-color: #e7f1ff;
  color: #ff4040;
}
.accordion__item.open .accordion__header:after {
  transform: rotate(0deg);
}
.accordion__item.open .accordion__content {
  height: -moz-max-content;
  height: max-content;
  /** Установить свои значения */
  padding: 2.25rem 0.5rem;
}
.accordion__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /** Установить свои значения */
  padding: 0.5rem;
  transition: background 0.3s ease-in-out;
}
.accordion__header:hover {
  background: rgba(255, 255, 255, 0.02);
}
.accordion__header:active {
  background: rgba(255, 255, 255, 0.05);
}
.accordion__header::after {
  content: "";
  position: static;
  transform: rotate(180deg);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.6s ease-in-out;
}
.accordion__content {
  height: 0;
  overflow: hidden;
  /** Установить свои значения */
  padding: 0 0.5rem;
  transition: all 0.3s ease-in-out;
}

.footer {
  padding: 1.25rem 0;
  background: var(--black-color);
}
.footer__container {
  display: flex;
  align-items: center;
}
@media (max-width: 31.875em) {
  .footer__container {
    flex-direction: column;
    align-items: flex-start;
  }
}/*# sourceMappingURL=main.css.map */